[barman]
barman_home = {{ barman_home }}
barman_user = barman
log_file = /var/log/barman/barman.log
compression = gzip
reuse_backup = link
backup_method = rsync
archiver = on
immediate_checkpoint = true
basebackup_retry_times = 3
basebackup_retry_sleep = 30
last_backup_maximum_age = 1 DAYS
backup_options = exclusive_backup

[{{hostvars['master']['hostname']}}]
ssh_command = ssh postgres@{{ hostvars['master']['ansible_ssh_host'] }}
conninfo = host={{ hostvars['master']['ansible_ssh_host'] }} user=postgres port=5432
retention_policy_mode = {{ retention_policy_mode }}
retention_policy = {{ retention_policy }}
wal_retention_policy = {{ wal_retention_policy }}
backup_method = {{ backup_method }}
